* {
    margin: 5px;
    padding: 5px;
    font: inherit;
    vertical-align: baseline;
}
html, body {
    margin: 0;
    padding: 0;
}
body {
    background-color: white;
    font-family: "Roboto Light";
    font-size: 150%;
    text-align: center;
}
h1 {
    font-size: 250%;
    color: #379EC1;
    text-align: center;
}
footer{
    position:absolute;
    bottom:0;
    width:90%;
    color: #379EC1;
    text-align: right;
}
.Bouton {
    text-align: left;
}
.styled {
    margin: 10px;
    border: 0;
    line-height: 2.5;
    padding: 0 20px;
    font-size: 1rem;
    color: #fff;
    text-shadow: #000000;
    border-radius: 10px;
    background-color: #659224;
    background-image: linear-gradient(to top left,
    rgba(0, 0, 0, .2),
    rgba(0, 0, 0, .2) 30%,
    rgba(0, 0, 0, 0));
    box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6),
    inset -2px -2px 3px rgba(0, 0, 0, .6);
}
.styled:hover {
    background-color:#379EC1;
}
.styled:active {
    box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6),
    inset 2px 2px 3px rgba(0, 0, 0, .6);
}
.ImageIdentite {
    width: 400px;
    height: 200px;
    position: absolute;
    margin-left: 300px;
    float: right;
}